*{
    background-color: #F9F5F6;
}
.Mobile{
    display: none;
}
.Desktop{
    display: block;
}

/*Screen for mobile*/
@media screen and (max-width: 760px) {
    .Mobile{
        display: block;
    }
    .Desktop{
        display: none;
    }
}