.body{
    background-color: #FAF0E6;
}
.Mobile{
    display: none;
}
.Desktop{
    display: block;
    border-bottom-color: red;
    border-bottom-style: solid;
}

/*Screen for mobile*/
@media screen and (max-width: 760px) {
    .Mobile{
        display: block;
    }
    .Desktop{
        display: none;
    }
}