.removeProduct{
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;

    font-size: 12px;
    border-radius: 12px;
}
.removeProduct:hover {
    background-color: #a44;
}
.btn_white{
    width: 30px;
    height: 30px;
    background: white;
    color: black;
    border:white ;
}
.btn_black{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: #343A40;
    color: white;
    border:black ;
}
.div_button{
    height: fit-content;
    padding: 10px;
    background-color: white;

}