.container{
    position: relative;
}
.first_card{
    background-color: #393939;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    width: 350px;
    height: 350px;
}
.first_image{
    background-color: transparent ;
    position: absolute;
    left: 70px;
    bottom: -100px;
}
.text_style1{
    font-size: 30px;
    background-color: transparent;
    color: white;
    padding: 40px;
    line-height: 1.2;
    width: 100%;
}
.sm_text1{
    font-size: 13px;
    background-color: transparent;
    color: #8B8B8B;
    padding-left: 40px;
}
.second_card{
    background-color: #CBCFD2;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    height: 350px;

}
.second_image{
    background-color: transparent ;
    position: absolute;
    bottom: 1px;
    left: 130px;
}
.text_style2{

    font-size: 40px;
    background-color: transparent;
    color: black;
    padding: 40px;
    line-height: 1.2;
    width: 75%;
}
.third_card{
    background-color: #B2F042;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    height: 350px;
    overflow: hidden;
    margin-top: 10px;


}
.text_style3{
    position: absolute;
    font-size: 45px;
    background-color: transparent;
    color: black;
    bottom: 1px;
    left: 30px;
    padding-bottom: 30px;
    width: 100%;


}
.sm_text3{
    font-size: 16px;
    background-color: transparent;
    color: black;
    line-height: 1.1;
    width: 40%;
    position: absolute;
    top:30px;
    left: 30px;

}