.container{
    margin-top: 110px;
    width: 65%;
    position: relative;

}
.productImg{
    border-radius: 12px;
    position: absolute;
    background-color: white;

}
.productDetails{
    border-radius: 12px;
    position: absolute;
    right: 150px;
    background-color: white;
}
.productText{
    margin-top: 10px;
    width: 75%;
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    margin-left: 10px;


}
.companyName{
    color: red;
    margin-left: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: transparent;



}
.smText{
    background-color: transparent;
    font-size: 20px;
    margin-left: 10px;

}
.productPrice{
    color: red;
    font-size: 25px;
    background-color: transparent;
    padding-right: 60%;

}
.product{
    background-color: transparent;
}
.btn{
    background-color: transparent;
}
.div_button{
    height: fit-content;
    padding: 10px;
    background-color: white;

}
.btn_white{
    width: 60px;
    height: 50px;
    background: white;
    color: black;
    border:white ;
}
.btn_black{
    width: 60px;
    height: 50px;
    margin-left: 10px;
    background-color: #343A40;
    color: white;
    border:black ;
}

.productDescription{
    border-radius: 12px;
    width: 550px;
    margin-top: 50px;
    background-color: white;
    position: absolute;
    top: 550px;
}
.desc{
    margin-top: 10px;
    border-radius: 12px;
    margin-left: 10px;
    font-size: 25px;
    background-color: white;


}
.descText{
    margin-top: 20px;
    color: #7D8791;
    width: 95%;
    line-height: 1.9;
    padding-left: 10px;

    background-color: white;


}